@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fffcfc;
    color: #181313;
    font-size: medium;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 120%;
}

.title {
    border-bottom: solid;
}

#textIntro {
    margin: 2rem;
    padding: 2rem;
}

#textIntro img {
    height: 40%;
    width: 20%;
}

#textIntro button {
    font-size: 140%;
}

#questionArea {
    margin: 2rem;
    padding: 1rem;
    font-weight: 500;
}

.navigate {
    margin: 2rem;
    padding: 1rem;
    font-weight: 400;
}

.scores {
    margin: 2rem;
    padding: 1rem;
    font-weight: 500;
}

footer {
    position: fixed;
    left: 0;
    bottom: 1rem;
    width: 100%;
    font-weight: 600;
    font-size: 100%;
    border-top: solid 3px ;
    padding-top: 1rem;
}

.hidden {
    display: none;
}