@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fdf5f5;
    color: #181313;
    font-size: medium;
    text-align: center;
    overflow: hidden;
}

header {
    font-size: 120%;
}

.title {
    border-bottom: solid 3px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

}

#textIntro {
    margin: 2rem;
    padding: 2rem;
}

#textIntro img {
    height: 60%;
    width: 30%;
    margin-bottom: 2rem;
}

#textIntro p {
    margin: 1rem;
    font-size: 110%;
    padding-bottom: 1rem;
}

#textIntro button {
    font-size: 140%;
}

#questionArea {
    margin: 2rem;
    padding: 1rem;
    font-weight: 500;
}

#questionArea p {
    font-weight: 600;
    padding-bottom: 1rem;
}

.choseAnswer {
    font-weight: 600;
}

.navigate {
    margin: 2rem;
    padding: 1rem;
    font-weight: 400;
}

#rightAnswer {
    color: #228b22;
}

#wrongAnswer {
    color: #8b0000;
}

.scores {
    margin: 2rem;
    padding: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores h2 {
    color: #0b3121;
    padding: 1rem;
    font-style: italic;
}

.scores p {
    font-weight: 600;
    padding: 1rem;
    font-size: 120%;

}

.scores button {
    font-size: 120%;
}

footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 1rem;
    width: 100%;
    font-weight: 600;
    font-size: 100%;
    border-top: solid 3px;
    padding-top: 1rem;

}

.hidden {
    display: none;
}